@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />

<p>
    Web front end to show members and there information
</p>
<br />
<br />
<br />

<input type="button" class="btn btn-info" value="Members" onclick="location.href='@Url.Action("SelectMember", "Member")'"/>
